.apis-result {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: -25px;
}

.result-items {
  display: block;
  width: 100%;
  max-width: 382px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.result-items:first-child {
  margin-top: 23px;
}