.apis-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 44px;
}

.apis-form .input {
  width: 100%;
  max-width: 322px;
  margin-left: auto;
  margin-right: auto;
}

.apis-form input[type='checkbox'] {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  width: 0.1px;
  height: 0.1px;
  overflow: hidden;
  z-index: -100;
}

.apis-form .btn {
  width: 100%;
  max-width: 322px;
  margin-left: auto;
  margin-right: auto;
}

.number-text {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.number-text span {
  display: inline-block;
  text-align: center;
  color: #969696;
}

.input {
  display: block;
  width: 100%;
  position: relative;
  margin-top: 20px;
}

.input__main {
  display: block;
  width: 100%;
  position: relative;
}

.input__main::before {
  content: '';
  display: inline-block;
  width: 65px;
  height: calc(100% - 4px);
  position: absolute;
  z-index: 2;
  right: 1px;
  top: 50%;
  transform: translateY(-50%);
  background: #fff;
  pointer-events: none;
  border-radius: 17px;
}

.input input {
  display: block;
  width: 100%;
  position: relative;
  z-index: 1;
  height: 78px;
  line-height: 78px;
  padding-left: 15px;
  padding-right: 15px;
  background: transparent;
  border: 1px solid #acacac;
  box-sizing: border-box;
  border-radius: 17px;
  font-size: 20px;
  color: #0048ab;
  font-family: 'Gilroy-Regular', sans-serif;
  font-weight: normal;
  text-align: center;
  margin-top: 0px;
  transition: all 0.3s ease;
}

.input.active input {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.input input::placeholder {
  font: inherit;
  font-size: inherit;
  color: inherit;
}

.input__main-close {
  display: inline-flex;
  width: 19px;
  height: 19px;
  position: absolute;
  z-index: 3;
  right: 25px;
  top: 50%;
  cursor: pointer;
  transform: translate(0%, -50%);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.input__main-close.active {
  opacity: 1;
  pointer-events: auto;
}

.input__main-close svg {
  display: inline-block;
  width: 100%;
  height: auto;
  max-height: 100%;
  margin: auto;
}

.input__main-close svg * {
  transition: all 0.3s ease;
}

.input__main-close:hover svg * {
  fill: #0048ab;
}

.input__list {
  display: inline-block;
  position: absolute;
  left: 0px;
  width: 100%;
  top: calc(100% - 1px);
  background: #ebebeb;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
  border: 1px solid #acacac;
  overflow: hidden;
  z-index: -2;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.input.active .input__list {
  opacity: 1;
  pointer-events: auto;
  z-index: 4;
}

.input__list-item {
  display: flex;
  position: relative;
  width: calc(100% + 1px);
  min-width: calc(100% + 1px);
  margin-left: -0.5px;
  align-items: center;
  justify-content: center;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 16px;
  padding-bottom: 13px;
  border-top: 1px solid #acacac;
  border-bottom: 1px solid #acacac;
}

.input__list-item.hidden {
  display: none;
}

.input__list-item:last-child {
  padding-top: 14px;
  padding-bottom: 14px;
  border-bottom: 0px;
}

.input__list-item-trigger {
  display: inline-block;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
}

.input__list-item span {
  display: block;
  width: 100%;
  min-width: 100%;
  text-align: center;
  font-size: 18px;
  line-height: 21px;
  color: #acacac;
}

.input__list-item-close {
  display: inline-flex;
  position: absolute;
  right: 12px;
  top: calc(50% + 0px);
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
  cursor: pointer;
  z-index: 2;
}

.input__list-item-close svg {
  display: block;
  width: 12px;
  max-height: 100%;
  height: auto;
  margin: auto;
}

.input__list-item-close svg * {
  transition: all 0.3s ease;
}

.input__list-item-close:hover svg * {
  fill: #0048ab;
}

.btn {
  display: flex;
  position: relative;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 78px;
  line-height: 80px;
  margin-top: 18px;
  text-decoration: none;
  border: 0px !important;
  text-align: center;
  text-decoration: none;
  color: #0048AB;
  font-family: "Gilroy-Bold", sans-serif;
  font-weight: normal;
  font-size: 22px;
  background: #FECB1B;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  border-radius: 17px !important;
  cursor: pointer;
  outline: none !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: all 0.3s ease;
}

.btn:hover {
  text-decoration: none;
  transition: all 0.3s ease;
  background: #0048ab;
  box-shadow: none;
  color: #fff;
}

.btn:focus,
.btn.focus {
  outline: none;
}

.checkbox-wrap {
  display: inline-flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 28px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.checkbox-wrap.hidden {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.checkbox-wrap span {
  display: inline-block;
  font-size: 18px;
  line-height: 21px;
  padding-bottom: 1px;
  color: #969696;
}

.checkbox-wrap span span {
  display: none;
  font: inherit;
  color: inherit;
}

.checkbox-wrap span span:nth-child(1) {
  display: inline;
}

.checkbox-btn {
  display: inline-block;
  position: relative;
  width: 25px;
  height: 25px;
  margin-left: 9px;
  border: 1px solid #969696;
  border-radius: 5px;
  background-color: #fff;
  transition: all 0.3s ease;
}


.checkbox-btn span {
  display: none;
}

.checkbox-btn::before {
  content: '';
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 52%;
  width: 80%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
  background-image: url(../../assets/images/checkbox-arrow.svg);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.checkbox-btn.active {
  border-color: #0048AB;
  background-color: #0048AB;
}

.checkbox-btn.active::before {
  opacity: 1;
}
