.section-apis {
  padding-top: 155px;
  position: relative;
  overflow: hidden;
}

.container {
  width: 700px;
  max-width: calc(100% - 40px);
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}

.row {
  width: 100%;
  display: flex;
}

.apis {
  display: block;
  width: 100%;
  background: #fff;
  padding: 40px;
  padding-top: 71px;
  padding-bottom: 102px;
  border-radius: 20px;
}

.apis h1 {
  display: block;
  width: 100%;
  text-align: center;
}
